:root {
    --app-primary-900: #005f7f;
    --app-primary-800: #007b9f;
    --app-primary-700: #0096bf;
    --app-primary-600: #00b2df;
    --app-primary-500: #00cdfd;
    --app-primary-400: #2bd1ff;
    --app-primary-300: #5ed5ff;
    --app-primary-200: #8fd9ff;
    --app-primary-100: #bbdcff;
    --app-primary-50: #e6efff;
    --app-primary-0: #f5fbff;

    --app-neutral-900: #131416;
    --app-neutral-800: #333436;
    --app-neutral-700: #515254;
    --app-neutral-600: #646567;
    --app-neutral-500: #8b8c8f;
    --app-neutral-400: #acadaf;
    --app-neutral-300: #d0d2d4;
    --app-neutral-200: #e2e3e6;
    --app-neutral-100: #eeeff1;
    --app-neutral-50: #f6f8fa;

    --app-font-white: #FFFFFF;
    --app-font-title_85: rgba(255, 255, 255, 0.85);
    --app-font-primary_65: rgba(255, 255, 255, 0.65);
    --app-font-secondary_45: rgba(255, 255, 255, 0.45);
    --app-font-disable_25: rgba(255, 255, 255, 0.25);
    --app-font-border_15: rgba(255, 255, 255, 0.15);
    --app-font-dividers_6: rgba(255, 255, 255, 0.06);
    --app-font-background_4: rgba(255, 255, 255, 0.04);
    --app-font-table-header_2: rgba(255, 255, 255, 0.02);

    --app-alert-success: #29CB90;
    --app-alert-error: #FB756C;
    --app-alert-warning: #FB9F6C;
    --app-alert-info: #6CD0FB;
}
