<ion-header class="store__header">
    <ion-toolbar>
        <div class="store__header-bar">
            <ion-title>
                {{ storeName }}
            </ion-title>
            <div>
                <svg-icon 
                    class="header-icon" 
                    [src]="backIcon" 
                    (click)="goBack()">
                </svg-icon>
                <svg-icon
                    [hidden]="routeUsername !== 'admin'"
                    class="header-icon"
                    [src]="addProductIcon"
                    (click)="openProductDialog()">
                </svg-icon>
                <svg-icon 
                    [hidden]="routeUsername === 'admin'"
                    class="header-icon" 
                    [src]="cartIcon" 
                    (click)="routeUsername === 'guest' ? openCart() : openLists()">
                </svg-icon>
            </div>
        </div>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="store__content">
    <div class="store__search">
        <input type="text" (input)="searchProducts()" #inputElem placeholder="Search products..." />
    </div>
    
    <ion-list class="store__products-list">
        <app-product-card
            (productsChanged)="onProductsChanged()"
            [@slideInOutAnimation]
            *ngFor="let product of filteredProducts$ | async"
            class="products-list__item"
            [product]="product"
            [store]="(store$ | async)!"
            [routeUsername]="routeUsername"
        >
        </app-product-card>
    </ion-list>

    <app-pagination
        [totalPages]="totalPages"
        [ngClass]="{ hidden: totalPages === 1 }"
        class="store__products-pagination"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
    >
    </app-pagination>
</ion-content>
