<ion-header class="stores-page__header">
    <ion-toolbar>
        <div class="stores-page__header-bar">
            <ion-title>
                {{ storeName }}
            </ion-title>
            <div>
                <svg-icon 
                    [ngClass]="{ hidden: !isAdmin }"
                    class="header-icon stats-icon" 
                    [src]="statsIcon"
                    (click)="goToStatsPage()">
                </svg-icon>
                <svg-icon 
                    [ngClass]="{ hidden: !isAdmin }"
                    class="header-icon" 
                    [src]="homeIcon" 
                    (click)="goHome()">
                </svg-icon>
                <svg-icon 
                    [ngClass]="{ hidden: !isAdmin }"
                    class="header-icon" 
                    [src]="addIcon" 
                    (click)="openAddStoreDialog()">
                </svg-icon>
                <svg-icon 
                    [ngClass]="{ hidden: isAdmin }"
                    class="header-icon" 
                    [src]="backIcon" 
                    (click)="goBack()">
                </svg-icon>
                <svg-icon 
                    class="header-icon"
                    [ngClass]="{ hidden: isAdmin }"
                    [src]="cartIcon" 
                    (click)="routeUsername === 'guest' ? openCart() : openLists()">
                </svg-icon>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
  
<ion-content class="stores-page__content">
    <ion-list class="stores-list">
        <app-store-card 
            (storesChanged)="onStoresChanged()"
            [@slideInOutAnimation]
            *ngFor="let store of filteredStores$ | async" 
            class="stores-list__item" 
            [store]="store"
            [isAdmin]="isAdmin"
            (goneToStorePage)="goToStorePage(store)">
        </app-store-card>
    </ion-list>
    <app-pagination
        [totalPages]="((stores$ | async)?.length! / 5) | ceil"
        [ngClass]="{ hidden: (stores$ | async)?.length! < 5 }"
        class="stores-page__pagination"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
    ></app-pagination>
</ion-content>
