<ion-header>
    <ion-toolbar>
        <ion-title>{{ isEditMode ? 'Edit Store' : 'Add Store' }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <form [formGroup]="storeForm" (ngSubmit)="submitForm()">
        <ion-item>
            <ion-label position="floating">Store Name</ion-label>
            <ion-input [readonly]="true" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-input formControlName="location"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">{{ isEditMode ? 'Save Changes' : 'Add Store' }}</ion-button>
    </form>
</ion-content>
  