<div class="forgot-password">
    <svg-icon class="forgot-password__icon" [src]="forgotIcon" [svgStyle]="{ width: 200, height: 200 }"></svg-icon>
    <div class="forgot-password__title">{{ 'auth.forgotpassword' | translate }}</div>
    <div class="forgot-password__text">
        {{ 'auth.forgotpasswordtext' | translate }}
    </div>
    <form class="forgot-password__form" (submit)="onSubmit()" [formGroup]="forgotpassForm">
        <app-input
            class="forgot-password__form__input"
            formControlName="email"
            [inputIcon]="inputIconAt"
            [inputStyle]="textInput"
            [inputType]="textType"
            [inputPlaceholder]="inputTextEmail"
            [inputValid]="isValidEmail"
            [inputErrorMessage]="'auth.inputerrortext' | translate"
        ></app-input>
        <app-button
            class="forgot-password__form__button"
            [buttonTheme]="primaryButton"
            [buttonText]="'common.sendtext' | translate"
            [buttonType]="buttonType"
            [buttonDisabled]="isValidControl"
        ></app-button>
    </form>
    <div class="forgot-password__items">
        <div class="forgot-password__items__text">{{ 'auth.rememberpassword' | translate }}</div>
        <a class="forgot-password__items__link" (click)="redirectToLoginPage()">{{ 'auth.signin' | translate }}</a>
    </div>
</div>
