<ion-header>
    <ion-toolbar>
        <div class="lists-toolbar">
            <ion-title>Shopping Lists</ion-title>
            <svg-icon 
                class="header-icon" 
                [src]="backIcon" 
                (click)="goBack()">
            </svg-icon>
        </div>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-item>
        <ion-label>Show Archived</ion-label>
        <ion-checkbox [(ngModel)]="showArchived" (ionChange)="filterLists()"></ion-checkbox>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let list of filteredLists$ | async">
            <div class="list-item" [ngClass]="{ archived: !list.is_active}">
                <ion-label (click)="openListDialog(list)">{{ list.name }}</ion-label>
                <div class="item-btns">
                    <svg-icon 
                        class="list-icon" 
                        [src]="list.is_active ? archiveIcon : unArchiveIcon" 
                        (click)="archiveList(list)">
                    </svg-icon>
                    <svg-icon 
                        class="list-icon" 
                        [src]="editIcon" 
                        (click)="openEditListDialog(list)">
                    </svg-icon>
                    <svg-icon 
                        class="list-icon" 
                        [src]="removeIcon" 
                        (click)="openRemoveListDialog(list)">
                    </svg-icon>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-fab class="lists-add" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openAddListDialog()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
