<ion-card class="store">
    <div class="store-info">
        <ion-card-content 
            class="store-address"
            (click)="goToStorePage()"
        >
                {{ store.address }}
        </ion-card-content>
        <svg-icon
            class="store-icon"
            [src]="editIcon"
            (click)="openEditDialog()"
            [hidden]="!isAdmin"
        >
        </svg-icon>
        <svg-icon
            class="store-icon"
            [src]="deleteIcon"
            (click)="openDeleteDialog()"
            [hidden]="!isAdmin"
        >
        </svg-icon>
    </div>
    <iframe 
        [src]="trustedUrl"
        width="300" 
        height="225" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</ion-card>
