/* You can add global styles to this file, and also import other style files */
@use 'app/styles/ionic.style';
@use 'app/styles/variables.style';
@use 'app/styles/shared-classes.style';
@use 'app/styles/mixins.style';
@use 'app/styles/app-palette.scss';
@use 'app/styles/theme/theme-variables.scss' as *;

$button-sheet-footer-height: 103px;

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    background: var(--start-page-background);
    height: 100%;
    min-height: 100vh;
    font-family: Ubuntu-Medium, 'Helvetica Neue', sans-serif;
    margin: 0;
    border-color: var(--page-background);
}

.container {
    max-width: 390px;
    padding: 0;
    margin: 0;
}

.wrapper {
    background: $app-neutral-900;
    //background: gray;
    min-height: 100vh;
}

.iam-modal {
    padding-top: 36px;

    ion-content {
        min-height: 87vh;
    }
}

.iam-searchbar {
    color: $app-primary-0;
}

.gray-text {
    color: gray;
}

.p-dropdown {
    background: transparent !important;
    border: 1px solid $app-font-border_15 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

svg-icon {
    cursor: pointer;
}
